In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Grab first of 5 files
filepath2012 = 'Resources/FARS2012NationalCSV/'
accidents_2012_df = pd.read_csv(filepath2012 +'ACCIDENT.CSV')
accidents_2012_df.head()

,STATE,ST_CASE,VE_TOTAL,VE_FORMS,PVH_INVL,PEDS,PERNOTMVIT,PERMVIT,PERSONS,COUNTY,...,NOT_MIN,ARR_HOUR,ARR_MIN,HOSP_HR,HOSP_MN,CF1,CF2,CF3,FATALS,DRUNK_DR
0,1,10001,1,1,0,0,0,2,2,81,...,99,20,38,99,99,0,0,0,1,1
1,1,10002,2,1,1,0,0,1,1,83,...,99,13,45,99,99,0,0,0,1,0
2,1,10003,1,1,0,0,0,6,6,105,...,99,2,25,99,99,0,0,0,1,0
3,1,10004,2,2,0,0,0,5,5,81,...,99,15,21,99,99,0,0,0,1,0
4,1,10005,1,1,0,0,0,1,1,77,...,99,8,0,88,88,0,0,0,1,0

In [3]:
# Checking columns against the manual, seeing which ones we want
accidents_2012_df.columns

Index(['STATE', 'ST_CASE', 'VE_TOTAL', 'VE_FORMS', 'PVH_INVL', 'PEDS',
       'PERNOTMVIT', 'PERMVIT', 'PERSONS', 'COUNTY', 'CITY', 'DAY', 'MONTH',
       'YEAR', 'DAY_WEEK', 'HOUR', 'MINUTE', 'NHS', 'ROAD_FNC', 'ROUTE',
       'TWAY_ID', 'TWAY_ID2', 'MILEPT', 'LATITUDE', 'LONGITUD', 'SP_JUR',
       'HARM_EV', 'MAN_COLL', 'RELJCT1', 'RELJCT2', 'TYP_INT', 'WRK_ZONE',
       'REL_ROAD', 'LGT_COND', 'WEATHER1', 'WEATHER2', 'WEATHER', 'SCH_BUS',
       'RAIL', 'NOT_HOUR', 'NOT_MIN', 'ARR_HOUR', 'ARR_MIN', 'HOSP_HR',
       'HOSP_MN', 'CF1', 'CF2', 'CF3', 'FATALS', 'DRUNK_DR'],
      dtype='object')

In [4]:
# Oregon is state '41'
# Next step is figuring out all the columns and all the files for each year
# From 'ACCIDENT.CSV' : state, st_case, ve_total, peds + persons, county, month, day_week, year, hour, (road_fnc?), route, latitude, longitud, harm_ev,
    # mann_coll, reljct2, typ_int, rel_road, wrk_zone, lgt_cond, weather, sch_bus, fatals, drunk_dr
# From 'VEHICLE.CSV' : state, st_case, veh_no, reg_state, body_typ, trav_sp, dr_drink, prev_acc, prev_dwi, prev_spd, sppedrel, vspd_lim,
    # acc_type

In [5]:
# Grabbing 2nd of 5 files
vehicle_2012_df = pd.read_csv(filepath2012+'VEHICLE.CSV', low_memory=False)
vehicle_2012_df.head()

,STATE,ST_CASE,VEH_NO,VE_FORMS,NUMOCCS,DAY,MONTH,HOUR,MINUTE,HARM_EV,...,VTRAFCON,VTCONT_F,P_CRASH1,P_CRASH2,P_CRASH3,PCRASH4,PCRASH5,ACC_TYPE,DEATHS,DR_DRINK
0,1,10001,1,1,2,1,1,20,33,1,...,0,0,14,13,6,1,4,6,1,1
1,1,10002,1,1,1,1,1,13,15,14,...,0,0,1,15,1,1,4,11,1,0
2,1,10003,1,1,6,2,1,1,35,35,...,0,0,1,87,7,1,4,1,1,0
3,1,10004,1,2,1,5,1,15,12,12,...,0,0,1,51,1,1,1,24,1,0
4,1,10004,2,2,4,5,1,15,12,12,...,0,0,1,53,1,1,1,25,0,0

In [6]:
# Checking columns against the manual to see which ones we want
for col in vehicle_2012_df.columns:
    print(col)

STATE
ST_CASE
VEH_NO
VE_FORMS
NUMOCCS
DAY
MONTH
HOUR
MINUTE
HARM_EV
MAN_COLL
UNITTYPE
HIT_RUN
REG_STAT
OWNER
MAKE
MODEL
MAK_MOD
BODY_TYP
MOD_YEAR
VIN
VIN_1
VIN_2
VIN_3
VIN_4
VIN_5
VIN_6
VIN_7
VIN_8
VIN_9
VIN_10
VIN_11
VIN_12
TOW_VEH
VINTYPE
VINMAKE
VINA_MOD
VIN_BT
VINMODYR
VIN_LNGT
VIN_WGT
WGTCD_TR
WHLBS_LG
WHLBS_SH
SER_TR
FUELCODE
MCYCL_DS
CARBUR
CYLINDER
DISPLACE
MCYCL_CY
MCYCL_WT
TIRE_SZE
TON_RAT
TRK_WT
TRKWTVAR
VIN_REST
WHLDRWHL
J_KNIFE
MCARR_I1
MCARR_I2
MCARR_ID
GVWR
V_CONFIG
CARGO_BT
HAZ_INV
HAZ_PLAC
HAZ_ID
HAZ_CNO
HAZ_REL
BUS_USE
SPEC_USE
EMER_USE
TRAV_SP
UNDERIDE
ROLLOVER
ROLINLOC
IMPACT1
DEFORMED
TOWED
M_HARM
VEH_SC1
VEH_SC2
FIRE_EXP
DR_PRES
L_STATE
DR_ZIP
L_STATUS
L_TYPE
CDL_STAT
L_ENDORS
L_COMPL
L_RESTRI
DR_HGT
DR_WGT
PREV_ACC
PREV_SUS
PREV_DWI
PREV_SPD
PREV_OTH
FIRST_MO
FIRST_YR
LAST_MO
LAST_YR
SPEEDREL
DR_SF1
DR_SF2
DR_SF3
DR_SF4
VTRAFWAY
VNUM_LAN
VSPD_LIM
VALIGN
VPROFILE
VPAVETYP
VSURCOND
VTRAFCON
VTCONT_F
P_CRASH1
P_CRASH2
P_CRASH3
PCRASH4
PCRASH5
ACC_TYPE
DEATHS
DR_DRINK

In [7]:
# Grabbing 3rd of 5 files
person_2012_df = pd.read_csv(filepath2012 + 'PERSON.CSV', low_memory=False)
person_2012_df.head()

,STATE,ST_CASE,VE_FORMS,VEH_NO,PER_NO,STR_VEH,COUNTY,DAY,MONTH,HOUR,...,LAG_HRS,LAG_MINS,P_SF1,P_SF2,P_SF3,CERT_NO,WORK_INJ,HISPANIC,RACE,LOCATION
0,1,10001,1,1,1,0,81,1,1,20,...,999,99,0,0,0,************,8,0,0,0
1,1,10001,1,1,2,0,81,1,1,20,...,43,25,0,0,0,************,0,7,1,0
2,1,10002,1,1,1,0,83,1,1,13,...,0,47,0,0,0,************,0,7,1,0
3,1,10003,1,1,1,0,105,2,1,1,...,999,99,0,0,0,************,8,0,0,0
4,1,10003,1,1,2,0,105,2,1,1,...,999,99,0,0,0,************,0,7,2,0

In [8]:
# Checking columns against the manual to see which ones we want
for col in person_2012_df.columns:
    print(col)

STATE
ST_CASE
VE_FORMS
VEH_NO
PER_NO
STR_VEH
COUNTY
DAY
MONTH
HOUR
MINUTE
ROAD_FNC
HARM_EV
MAN_COLL
SCH_BUS
MAKE
MAK_MOD
BODY_TYP
MOD_YEAR
VINTYPE
VINMAKE
VINA_MOD
VIN_BT
VINMODYR
VIN_LNGT
VIN_WGT
WGTCD_TR
WHLBS_LG
WHLBS_SH
SER_TR
FUELCODE
MCYCL_DS
CARBUR
CYLINDER
DISPLACE
MCYCL_CY
TIRE_SZE
TON_RAT
TRK_WT
TRKWTVAR
MCYCL_WT
VIN_REST
WHLDRWHL
TOW_VEH
SPEC_USE
EMER_USE
ROLLOVER
IMPACT1
FIRE_EXP
AGE
SEX
PER_TYP
INJ_SEV
SEAT_POS
REST_USE
REST_MIS
AIR_BAG
EJECTION
EJ_PATH
EXTRICAT
DRINKING
ALC_DET
ALC_STATUS
ATST_TYP
ALC_RES
DRUGS
DRUG_DET
DSTATUS
DRUGTST1
DRUGTST2
DRUGTST3
DRUGRES1
DRUGRES2
DRUGRES3
HOSPITAL
DOA
DEATH_DA
DEATH_MO
DEATH_YR
DEATH_HR
DEATH_MN
DEATH_TM
LAG_HRS
LAG_MINS
P_SF1
P_SF2
P_SF3
CERT_NO
WORK_INJ
HISPANIC
RACE
LOCATION

In [9]:
# From PERSON.CSV (person in vehicle): state, st_case, veh_no, per_no, age, sex, per_type, rest_use, rest_mis, drugs

In [10]:
# Grabbing the fourth of 5 files
distract_2012_df = pd.read_csv(filepath2012 + 'DISTRACT.CSV')
distract_2012_df.head()

   STATE  ST_CASE  VEH_NO  MDRDSTRD
0      1    10001       1        10
1      1    10002       1         0
2      1    10003       1         0
3      1    10004       1         0
4      1    10004       2         0

In [11]:
# Grabbing the 5th of 5 files
violation_2012_df = pd.read_csv(filepath2012+'VIOLATN.CSV')
violation_2012_df.head()

   STATE  ST_CASE  VEH_NO  MVIOLATN
0      1    10001       1         0
1      1    10002       1         0
2      1    10003       1         0
3      1    10004       1         0
4      1    10004       2         0

In [12]:
# Slimming the tables to jsut the columns we need
accidents_2012_df = accidents_2012_df[['STATE', 'ST_CASE', 'VE_TOTAL', 'PEDS', 'PERSONS', 'COUNTY', 'MONTH', 'DAY_WEEK', 'YEAR', 'HOUR', 'ROAD_FNC', 'ROUTE', 'LATITUDE', 'LONGITUD', 'HARM_EV', 'MAN_COLL', 'RELJCT2', 'TYP_INT', 'REL_ROAD', 'WRK_ZONE', 'LGT_COND', 'WEATHER', 'SCH_BUS', 'FATALS', 'DRUNK_DR']]
accidents_2012_df.head()

,STATE,ST_CASE,VE_TOTAL,PEDS,PERSONS,COUNTY,MONTH,DAY_WEEK,YEAR,HOUR,...,MAN_COLL,RELJCT2,TYP_INT,REL_ROAD,WRK_ZONE,LGT_COND,WEATHER,SCH_BUS,FATALS,DRUNK_DR
0,1,10001,1,0,2,81,1,1,2012,20,...,0,1,1,3,0,2,1,0,1,1
1,1,10002,2,0,1,83,1,1,2012,13,...,0,1,1,7,0,1,1,0,1,0
2,1,10003,1,0,6,105,1,2,2012,1,...,0,1,1,4,0,2,1,0,1,0
3,1,10004,2,0,5,81,1,5,2012,15,...,1,1,1,1,0,1,1,0,1,0
4,1,10005,1,0,1,77,1,6,2012,6,...,0,1,1,4,0,4,1,0,1,0

In [13]:
# Filtering to just accidents in Oregon 
accidents_2012_df = accidents_2012_df.loc[accidents_2012_df['STATE'] == 41]
accidents_2012_df

,STATE,ST_CASE,VE_TOTAL,PEDS,PERSONS,COUNTY,MONTH,DAY_WEEK,YEAR,HOUR,...,MAN_COLL,RELJCT2,TYP_INT,REL_ROAD,WRK_ZONE,LGT_COND,WEATHER,SCH_BUS,FATALS,DRUNK_DR
22174,41,410001,2,0,2,39,1,2,2012,20,...,2,2,3,1,0,2,10,0,2,1
22175,41,410002,1,1,2,51,1,6,2012,19,...,0,3,2,1,0,3,2,0,1,0
22176,41,410003,2,0,3,51,1,5,2012,22,...,1,1,1,1,0,3,1,0,1,1
22177,41,410004,2,0,6,39,1,1,2012,17,...,6,1,1,1,0,2,10,0,1,0
22178,41,410006,2,0,3,27,1,6,2012,12,...,6,1,1,1,0,1,1,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22475,41,410315,1,1,1,71,10,4,2012,14,...,0,4,1,1,0,1,98,0,1,0
22476,41,410316,1,0,1,33,10,4,2012,17,...,0,2,2,99,0,1,98,0,1,0
22477,41,410317,1,0,2,31,10,2,2012,99,...,0,1,1,4,0,9,98,0,1,1
22478,41,410318,2,0,3,47,11,3,2012,15,...,1,1,1,1,0,1,98,0,1,0
22479,41,410319,1,0,1,51,12,3,2012,19,...,0,3,3,4,0,2,98,0,1,0

In [14]:
# Slimming to just the columns we need
vehicle_2012_df = vehicle_2012_df[['STATE', 'ST_CASE', 'VEH_NO', 'REG_STAT', 'BODY_TYP', 'TRAV_SP', 'DR_DRINK', 'PREV_ACC', 'PREV_DWI', 'PREV_SPD', 'SPEEDREL', 'VSPD_LIM', 'ACC_TYPE']]
vehicle_2012_df.head()

,STATE,ST_CASE,VEH_NO,REG_STAT,BODY_TYP,TRAV_SP,DR_DRINK,PREV_ACC,PREV_DWI,PREV_SPD,SPEEDREL,VSPD_LIM,ACC_TYPE
0,1,10001,1,28,30,60,1,0,0,0,0,65,6
1,1,10002,1,0,97,25,0,0,0,0,0,25,11
2,1,10003,1,39,14,55,0,0,0,0,0,55,1
3,1,10004,1,1,14,70,0,0,0,0,0,70,24
4,1,10004,2,1,14,65,0,0,0,0,0,70,25

In [15]:
# Filtering to just the accidents in Oregon
vehicle_2012_df = vehicle_2012_df.loc[vehicle_2012_df['STATE'] == 41]
vehicle_2012_df.head()

,STATE,ST_CASE,VEH_NO,REG_STAT,BODY_TYP,TRAV_SP,DR_DRINK,PREV_ACC,PREV_DWI,PREV_SPD,SPEEDREL,VSPD_LIM,ACC_TYPE
32852,41,410001,1,41,4,998,1,0,0,0,9,55,50
32853,41,410001,2,41,15,998,0,0,0,0,9,55,51
32854,41,410002,1,41,14,998,0,0,0,0,0,35,13
32855,41,410003,1,41,2,998,1,1,0,2,0,45,24
32856,41,410003,2,6,6,998,0,0,0,0,0,45,25

In [16]:
# Slimming to just the columns we need
person_2012_df = person_2012_df[['STATE', 'ST_CASE', 'VEH_NO', 'PER_NO', 'AGE', 'SEX', 'PER_TYP', 'REST_USE', 'REST_MIS', 'DRUGS', 'DOA']]
person_2012_df.head()

,STATE,ST_CASE,VEH_NO,PER_NO,AGE,SEX,PER_TYP,REST_USE,REST_MIS,DRUGS,DOA
0,1,10001,1,1,22,1,1,7,0,0,0
1,1,10001,1,2,20,2,2,7,0,8,0
2,1,10002,1,1,10,2,1,7,0,0,0
3,1,10003,1,1,44,2,1,7,0,0,0
4,1,10003,1,2,22,2,2,7,0,8,7

In [17]:
# Filtering to just the accidents in Oregon
person_2012_df = person_2012_df.loc[person_2012_df['STATE'] == 41]
person_2012_df

,STATE,ST_CASE,VEH_NO,PER_NO,AGE,SEX,PER_TYP,REST_USE,REST_MIS,DRUGS,DOA
54818,41,410001,1,1,56,1,1,3,0,9,7
54819,41,410001,2,1,19,1,1,99,0,0,7
54820,41,410002,0,1,76,1,5,96,8,8,0
54821,41,410002,1,1,45,2,1,3,0,0,0
54822,41,410002,1,2,14,2,2,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
55599,41,410317,1,2,32,2,2,7,0,8,0
55600,41,410318,1,1,998,8,1,98,0,8,0
55601,41,410318,2,1,998,8,1,98,0,8,0
55602,41,410318,2,2,72,1,2,98,0,8,0
55603,41,410319,1,1,89,1,1,3,0,8,0

In [18]:
# Filtering to just the accidents in Oregon
distract_2012_df = distract_2012_df.loc[distract_2012_df['STATE'] == 41]
distract_2012_df

       STATE  ST_CASE  VEH_NO  MDRDSTRD
32874     41   410001       1        96
32875     41   410001       2        96
32876     41   410002       1        96
32877     41   410003       1        96
32878     41   410003       2        96
...      ...      ...     ...       ...
33295     41   410316       1        96
33296     41   410317       1        96
33297     41   410318       1        96
33298     41   410318       2        96
33299     41   410319       1        96

[426 rows x 4 columns]

In [19]:
distract_2012_df.value_counts()

STATE  ST_CASE  VEH_NO  MDRDSTRD
41     410001   1       96          1
       410219   2       96          1
       410218   1       96          1
       410217   1       96          1
       410216   2       96          1
                                   ..
       410106   1       96          1
       410105   2       96          1
                1       96          1
       410104   1       96          1
       410319   1       96          1
Length: 426, dtype: int64

In [20]:
# Filtering to just those in Oregon
violation_2012_df = violation_2012_df.loc[violation_2012_df['STATE'] == 41]
violation_2012_df

       STATE  ST_CASE  VEH_NO  MVIOLATN
34977     41   410001       1         0
34978     41   410001       2         0
34979     41   410002       1         0
34980     41   410003       1         0
34981     41   410003       2         0
...      ...      ...     ...       ...
35433     41   410316       1         0
35434     41   410317       1         0
35435     41   410318       1        99
35436     41   410318       2         0
35437     41   410319       1         0

[461 rows x 4 columns]

In [21]:
# Re-indexing the different tables to make joining them possible
reindex = distract_2012_df.set_index(['ST_CASE', 'VEH_NO']).drop('STATE', axis=1)
reindex

                MDRDSTRD
ST_CASE VEH_NO
410001  1             96
        2             96
410002  1             96
410003  1             96
        2             96
...                  ...
410316  1             96
410317  1             96
410318  1             96
        2             96
410319  1             96

[426 rows x 1 columns]

In [22]:
# Re-indexing vehicles
reindex_v = vehicle_2012_df.set_index(['ST_CASE', 'VEH_NO']).drop('STATE', axis=1)
reindex_v

                REG_STAT  BODY_TYP  TRAV_SP  DR_DRINK  PREV_ACC  PREV_DWI  \
ST_CASE VEH_NO
410001  1             41         4      998         1         0         0
        2             41        15      998         0         0         0
410002  1             41        14      998         0         0         0
410003  1             41         2      998         1         1         0
        2              6         6      998         0         0         0
...                  ...       ...      ...       ...       ...       ...
410316  1             99        80      998         0         0         0
410317  1             99        99      998         1         0         0
410318  1             99        99      998         0        99        99
        2             99        99      998         0        99        99
410319  1             41         4      998         0         0         0

                PREV_SPD  SPEEDREL  VSPD_LIM  ACC_TYPE
ST_CASE VEH_NO
410001  1              0         9        55        50
        2              0         9        55        51
410002  1              0         0        35        13
410003  1              2         0        45        24
        2              0         0        45        25
...                  ...       ...       ...       ...
410316  1              0         9        45        99
410317  1              0         1        98        99
410318  1             99         9        98        24
        2             99         9        98        25
410319  1              0         9        45         6

[426 rows x 10 columns]

In [23]:
# Merging the double indeces: Registration State, if one vehicle is from OOS, then yes, otherwise no
# Up to 7 vehicles in one accident
# BODY_TYP --> body_type_1, body_type_2, etc. for each car
# TRAV_SP --> highest value if recorded
# DR_DRINK --> Yes if any are yes
# PREV_ACC --> add up except the unknowns
# PREV_DWI --> add up except the unknowns
# PREV_SPD --> add up except the unknowns
# SPEED_REL --> yes if any yesses
# VSPD_LIM --> if any discrepancies then mark highest
# ACC_TYPE --> acc_type_1, acc_type_2, etc for each car
# MDRDSTRD --> If any known, mark as that
# MVIOLATN --> if one, use it

In [24]:
# Re-indexing violation table
reindex3 = violation_2012_df.set_index(['ST_CASE', 'VEH_NO']).drop('STATE', axis=1)
reindex3

                MVIOLATN
ST_CASE VEH_NO
410001  1              0
        2              0
410002  1              0
410003  1              0
        2              0
...                  ...
410316  1              0
410317  1              0
410318  1             99
        2              0
410319  1              0

[461 rows x 1 columns]

In [25]:
# Re-indexing person table
person_reindex = person_2012_df.set_index(['ST_CASE', 'VEH_NO', 'PER_NO']).drop('STATE', axis=1)
person_reindex

                       AGE  SEX  PER_TYP  REST_USE  REST_MIS  DRUGS  DOA
ST_CASE VEH_NO PER_NO
410001  1      1        56    1        1         3         0      9    7
        2      1        19    1        1        99         0      0    7
410002  0      1        76    1        5        96         8      8    0
        1      1        45    2        1         3         0      0    0
               2        14    2        2         3         0      0    0
...                    ...  ...      ...       ...       ...    ...  ...
410317  1      2        32    2        2         7         0      8    0
410318  1      1       998    8        1        98         0      8    0
        2      1       998    8        1        98         0      8    0
               2        72    1        2        98         0      8    0
410319  1      1        89    1        1         3         0      8    0

[786 rows x 7 columns]

In [26]:
# Merge rows in person:
# age --> average
# sex --> count for each gender
# per_typ --> drop this column
# rest_use --> drop
# rest_mis --> if any yes then yes, otherwise no. if n/a, then it shouldn't matter
# drugs --> yes if any yes, no if no
# doa --> drop

In [27]:
# Starting the process of merging the rows down to just 'ST_CASE' index, starting by dropping unneeded columns
person_reindex = person_reindex.drop(['PER_TYP', 'REST_USE', 'DOA'], axis=1)
person_reindex[0:10]

                       AGE  SEX  REST_MIS  DRUGS
ST_CASE VEH_NO PER_NO
410001  1      1        56    1         0      9
        2      1        19    1         0      0
410002  0      1        76    1         8      8
        1      1        45    2         0      0
               2        14    2         0      0
410003  1      1        29    1         0      9
               2        30    1         0      8
        2      1        36    2         0      0
410004  1      1        36    2         0      0
               2        13    1         0      0

In [28]:
# This was me testing to see how I could merge via the index
st_case = person_reindex.index[1]
ave_age = person_reindex.loc[st_case[0]]['AGE'].mean()

In [29]:
# Now switching to accident_df, as that will be the table everything merges to, adding an 'AGE' column
accidents_2012_df['AGE'] = 0
accidents_2012_df.head()

,STATE,ST_CASE,VE_TOTAL,PEDS,PERSONS,COUNTY,MONTH,DAY_WEEK,YEAR,HOUR,...,RELJCT2,TYP_INT,REL_ROAD,WRK_ZONE,LGT_COND,WEATHER,SCH_BUS,FATALS,DRUNK_DR,AGE
22174,41,410001,2,0,2,39,1,2,2012,20,...,2,3,1,0,2,10,0,2,1,0
22175,41,410002,1,1,2,51,1,6,2012,19,...,3,2,1,0,3,2,0,1,0,0
22176,41,410003,2,0,3,51,1,5,2012,22,...,1,1,1,0,3,1,0,1,1,0
22177,41,410004,2,0,6,39,1,1,2012,17,...,1,1,1,0,2,10,0,1,0,0
22178,41,410006,2,0,3,27,1,6,2012,12,...,1,1,1,0,1,1,0,2,2,0

In [30]:
# Re-indexing to st_case
accidents_reindex = accidents_2012_df.set_index('ST_CASE').drop('STATE', axis=1)
accidents_reindex

,VE_TOTAL,PEDS,PERSONS,COUNTY,MONTH,DAY_WEEK,YEAR,HOUR,ROAD_FNC,ROUTE,...,RELJCT2,TYP_INT,REL_ROAD,WRK_ZONE,LGT_COND,WEATHER,SCH_BUS,FATALS,DRUNK_DR,AGE
ST_CASE,,,,,,,,,,,,,,,,,,,,,
410001,2,0,2,39,1,2,2012,20,3,4,...,2,3,1,0,2,10,0,2,1,0
410002,1,1,2,51,1,6,2012,19,13,3,...,3,2,1,0,3,2,0,1,0,0
410003,2,0,3,51,1,5,2012,22,13,3,...,1,1,1,0,3,1,0,1,1,0
410004,2,0,6,39,1,1,2012,17,2,3,...,1,1,1,0,2,10,0,1,0,0
410006,2,0,3,27,1,6,2012,12,2,3,...,1,1,1,0,1,1,0,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410315,1,1,1,71,10,4,2012,14,14,3,...,4,1,1,0,1,98,0,1,0,0
410316,1,0,1,33,10,4,2012,17,4,4,...,2,2,99,0,1,98,0,1,0,0
410317,1,0,2,31,10,2,2012,99,5,4,...,1,1,4,0,9,98,0,1,1,0
410318,2,0,3,47,11,3,2012,15,3,3,...,1,1,1,0,1,98,0,1,0,0
410319,1,0,1,51,12,3,2012,19,4,4,...,3,3,4,0,2,98,0,1,0,0

In [31]:
# Another test to see if this works the way I'd think
accidents_reindex.at[st_case[0], 'AGE'] = ave_age

In [32]:
accidents_reindex

,VE_TOTAL,PEDS,PERSONS,COUNTY,MONTH,DAY_WEEK,YEAR,HOUR,ROAD_FNC,ROUTE,...,RELJCT2,TYP_INT,REL_ROAD,WRK_ZONE,LGT_COND,WEATHER,SCH_BUS,FATALS,DRUNK_DR,AGE
ST_CASE,,,,,,,,,,,,,,,,,,,,,
410001,2,0,2,39,1,2,2012,20,3,4,...,2,3,1,0,2,10,0,2,1,37
410002,1,1,2,51,1,6,2012,19,13,3,...,3,2,1,0,3,2,0,1,0,0
410003,2,0,3,51,1,5,2012,22,13,3,...,1,1,1,0,3,1,0,1,1,0
410004,2,0,6,39,1,1,2012,17,2,3,...,1,1,1,0,2,10,0,1,0,0
410006,2,0,3,27,1,6,2012,12,2,3,...,1,1,1,0,1,1,0,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410315,1,1,1,71,10,4,2012,14,14,3,...,4,1,1,0,1,98,0,1,0,0
410316,1,0,1,33,10,4,2012,17,4,4,...,2,2,99,0,1,98,0,1,0,0
410317,1,0,2,31,10,2,2012,99,5,4,...,1,1,4,0,9,98,0,1,1,0
410318,2,0,3,47,11,3,2012,15,3,3,...,1,1,1,0,1,98,0,1,0,0
410319,1,0,1,51,12,3,2012,19,4,4,...,3,3,4,0,2,98,0,1,0,0

In [33]:
# It works! Now to start building a for loop to add values for each index
person_reindex.index[3]

(410002, 1, 1)

In [34]:
# Adding average age to accident table
prev_st = 0

for index in person_reindex.index:
    st_case = index[0]
    
    if st_case != prev_st:
        ave_age = person_reindex.loc[st_case]['AGE'].mean()
        
        # unknown ages are listed as 999
        if ave_age > 125:
            ave_age = 999
        
        accidents_reindex.at[st_case, 'AGE'] = ave_age
        
        prev_st = st_case
        
    else:
        prev_st = st_case
        
        
accidents_reindex

,VE_TOTAL,PEDS,PERSONS,COUNTY,MONTH,DAY_WEEK,YEAR,HOUR,ROAD_FNC,ROUTE,...,RELJCT2,TYP_INT,REL_ROAD,WRK_ZONE,LGT_COND,WEATHER,SCH_BUS,FATALS,DRUNK_DR,AGE
ST_CASE,,,,,,,,,,,,,,,,,,,,,
410001,2,0,2,39,1,2,2012,20,3,4,...,2,3,1,0,2,10,0,2,1,37
410002,1,1,2,51,1,6,2012,19,13,3,...,3,2,1,0,3,2,0,1,0,45
410003,2,0,3,51,1,5,2012,22,13,3,...,1,1,1,0,3,1,0,1,1,31
410004,2,0,6,39,1,1,2012,17,2,3,...,1,1,1,0,2,10,0,1,0,21
410006,2,0,3,27,1,6,2012,12,2,3,...,1,1,1,0,1,1,0,2,2,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410315,1,1,1,71,10,4,2012,14,14,3,...,4,1,1,0,1,98,0,1,0,44
410316,1,0,1,33,10,4,2012,17,4,4,...,2,2,99,0,1,98,0,1,0,71
410317,1,0,2,31,10,2,2012,99,5,4,...,1,1,4,0,9,98,0,1,1,36
410318,2,0,3,47,11,3,2012,15,3,3,...,1,1,1,0,1,98,0,1,0,999
410319,1,0,1,51,12,3,2012,19,4,4,...,3,3,4,0,2,98,0,1,0,89

In [35]:
# Adding gender columns, will be a count for each accident
accidents_reindex['SEX_1'] = 0
accidents_reindex['SEX_2'] = 0
accidents_reindex['SEX_8'] = 0
accidents_reindex['SEX_9'] = 0

In [36]:
# Setting gender columns in accidents_df
gender_1 = 0
gender_2 = 0
gender_8 = 0
gender_9 = 0

prev_case = 410001

for index in person_reindex.index:
    st_case = index[0]
    
    if st_case == prev_case:
    
        gender = person_reindex.loc[index]['SEX']
    
        if gender == 1:
            gender_1 += 1
    
        elif gender == 2:
            gender_2 += 1
        
        elif gender == 8:
            gender_8 += 1
        
        elif gender == 9:
            gender_9 += 1
            
        accidents_reindex.at[st_case, 'SEX_1'] = gender_1
        accidents_reindex.at[st_case, 'SEX_2'] = gender_2
        accidents_reindex.at[st_case, 'SEX_8'] = gender_8
        accidents_reindex.at[st_case, 'SEX_9'] = gender_9
        
        prev_case = st_case
            
    elif st_case != prev_case:
        
        gender_1 = 0
        gender_2 = 0
        gender_8 = 0
        gender_9 = 0
        
        gender = person_reindex.loc[index]['SEX']
    
        if gender == 1:
            gender_1 += 1
    
        elif gender == 2:
            gender_2 += 1
        
        elif gender == 8:
            gender_8 += 1
        
        elif gender == 9:
            gender_9 += 1
            
        accidents_reindex.at[st_case, 'SEX_1'] = gender_1
        accidents_reindex.at[st_case, 'SEX_2'] = gender_2
        accidents_reindex.at[st_case, 'SEX_8'] = gender_8
        accidents_reindex.at[st_case, 'SEX_9'] = gender_9
        
        prev_case = st_case
        

accidents_reindex

,VE_TOTAL,PEDS,PERSONS,COUNTY,MONTH,DAY_WEEK,YEAR,HOUR,ROAD_FNC,ROUTE,...,LGT_COND,WEATHER,SCH_BUS,FATALS,DRUNK_DR,AGE,SEX_1,SEX_2,SEX_8,SEX_9
ST_CASE,,,,,,,,,,,,,,,,,,,,,
410001,2,0,2,39,1,2,2012,20,3,4,...,2,10,0,2,1,37,2,0,0,0
410002,1,1,2,51,1,6,2012,19,13,3,...,3,2,0,1,0,45,1,2,0,0
410003,2,0,3,51,1,5,2012,22,13,3,...,3,1,0,1,1,31,2,1,0,0
410004,2,0,6,39,1,1,2012,17,2,3,...,2,10,0,1,0,21,4,2,0,0
410006,2,0,3,27,1,6,2012,12,2,3,...,1,1,0,2,2,35,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410315,1,1,1,71,10,4,2012,14,14,3,...,1,98,0,1,0,44,0,2,0,0
410316,1,0,1,33,10,4,2012,17,4,4,...,1,98,0,1,0,71,1,0,0,0
410317,1,0,2,31,10,2,2012,99,5,4,...,9,98,0,1,1,36,1,1,0,0
410318,2,0,3,47,11,3,2012,15,3,3,...,1,98,0,1,0,999,1,0,2,0
410319,1,0,1,51,12,3,2012,19,4,4,...,2,98,0,1,0,89,1,0,0,0

In [37]:
# Looking at person again because it was too far away in the code
person_reindex[0:10]

                       AGE  SEX  REST_MIS  DRUGS
ST_CASE VEH_NO PER_NO
410001  1      1        56    1         0      9
        2      1        19    1         0      0
410002  0      1        76    1         8      8
        1      1        45    2         0      0
               2        14    2         0      0
410003  1      1        29    1         0      9
               2        30    1         0      8
        2      1        36    2         0      0
410004  1      1        36    2         0      0
               2        13    1         0      0

In [38]:
# Set the retstraint misuse column in accidents
accidents_reindex['REST_MIS'] = 0

In [39]:
# This one is a simple yes/no for the column value
for index in person_reindex.index:
    st_case = index[0]
            
    if person_reindex.loc[index]['REST_MIS'] == 1:
        accidents_reindex.at[st_case, 'REST_MIS'] = 1
        
accidents_reindex

,VE_TOTAL,PEDS,PERSONS,COUNTY,MONTH,DAY_WEEK,YEAR,HOUR,ROAD_FNC,ROUTE,...,WEATHER,SCH_BUS,FATALS,DRUNK_DR,AGE,SEX_1,SEX_2,SEX_8,SEX_9,REST_MIS
ST_CASE,,,,,,,,,,,,,,,,,,,,,
410001,2,0,2,39,1,2,2012,20,3,4,...,10,0,2,1,37,2,0,0,0,0
410002,1,1,2,51,1,6,2012,19,13,3,...,2,0,1,0,45,1,2,0,0,0
410003,2,0,3,51,1,5,2012,22,13,3,...,1,0,1,1,31,2,1,0,0,0
410004,2,0,6,39,1,1,2012,17,2,3,...,10,0,1,0,21,4,2,0,0,1
410006,2,0,3,27,1,6,2012,12,2,3,...,1,0,2,2,35,3,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410315,1,1,1,71,10,4,2012,14,14,3,...,98,0,1,0,44,0,2,0,0,0
410316,1,0,1,33,10,4,2012,17,4,4,...,98,0,1,0,71,1,0,0,0,0
410317,1,0,2,31,10,2,2012,99,5,4,...,98,0,1,1,36,1,1,0,0,0
410318,2,0,3,47,11,3,2012,15,3,3,...,98,0,1,0,999,1,0,2,0,0
410319,1,0,1,51,12,3,2012,19,4,4,...,98,0,1,0,89,1,0,0,0,0

In [40]:
# Double checking that it added values
accidents_reindex['REST_MIS'].value_counts()

0    299
1      7
Name: REST_MIS, dtype: int64

In [41]:
# set the drugs column in accidents
accidents_reindex['DRUGS'] = 0

In [42]:
for index in person_reindex.index:
    st_case = index[0]
            
    if person_reindex.loc[index]['DRUGS'] == 1:
        accidents_reindex.at[st_case, 'DRUGS'] = 1
    
    elif (person_reindex.loc[index]['DRUGS'] == 8) or (person_reindex.loc[index]['DRUGS'] == 9):
        accidents_reindex.at[st_case, 'DRUGS'] = 9
        
accidents_reindex

,VE_TOTAL,PEDS,PERSONS,COUNTY,MONTH,DAY_WEEK,YEAR,HOUR,ROAD_FNC,ROUTE,...,SCH_BUS,FATALS,DRUNK_DR,AGE,SEX_1,SEX_2,SEX_8,SEX_9,REST_MIS,DRUGS
ST_CASE,,,,,,,,,,,,,,,,,,,,,
410001,2,0,2,39,1,2,2012,20,3,4,...,0,2,1,37,2,0,0,0,0,9
410002,1,1,2,51,1,6,2012,19,13,3,...,0,1,0,45,1,2,0,0,0,9
410003,2,0,3,51,1,5,2012,22,13,3,...,0,1,1,31,2,1,0,0,0,9
410004,2,0,6,39,1,1,2012,17,2,3,...,0,1,0,21,4,2,0,0,1,9
410006,2,0,3,27,1,6,2012,12,2,3,...,0,2,2,35,3,0,0,0,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410315,1,1,1,71,10,4,2012,14,14,3,...,0,1,0,44,0,2,0,0,0,9
410316,1,0,1,33,10,4,2012,17,4,4,...,0,1,0,71,1,0,0,0,0,9
410317,1,0,2,31,10,2,2012,99,5,4,...,0,1,1,36,1,1,0,0,0,9
410318,2,0,3,47,11,3,2012,15,3,3,...,0,1,0,999,1,0,2,0,0,9
410319,1,0,1,51,12,3,2012,19,4,4,...,0,1,0,89,1,0,0,0,0,9

In [43]:
# double checking that it added values
accidents_reindex['DRUGS'].value_counts()

9    252
0     45
1      9
Name: DRUGS, dtype: int64

In [44]:
# Done with the persons dataframe! Time to combine vehicles and accidents

In [45]:
# Body_typ is too big to have a column for each one, time to consult the manual to see how I can group the types together
reindex_v['BODY_TYP'].value_counts()

4     104
31     59
80     50
14     48
30     34
2      25
15     16
20     14
66     14
6      11
99      7
21      6
63      5
16      5
3       5
61      4
62      3
51      2
1       2
67      2
5       2
40      2
90      2
50      1
88      1
32      1
81      1
Name: BODY_TYP, dtype: int64

In [46]:
# Too many body types, gonna combine them
# Sedans: 4, 2, 6, 3, 5, 1
# Pickup: 31, 30, 67, 10, 32, 40
# SUV/Van: 14, 20, 15, 16, 21
# motorcycle: 80, 81, 88
# truck: 66, 63, 61, 65, 64, 62
# Bus: 55, 50, 52, 51
# Unknown/Other: 99, 49, 90

In [47]:
# Setting body_type columns in accidents
accidents_reindex['BT_Sedan'] = 0
accidents_reindex['BT_Pickup'] = 0
accidents_reindex['BT_SUV_Van'] = 0
accidents_reindex['BT_Motorcyle'] = 0
accidents_reindex['BT_Truck'] = 0
accidents_reindex['BT_Bus'] = 0
accidents_reindex['BT_Unknown_Other'] = 0

In [48]:
# Similar to gender column, adding the types together for each accident
bt_sedan = 0
bt_pickup = 0
bt_suv = 0
bt_motor = 0
bt_truck = 0
bt_bus = 0
bt_unknown = 0


prev_case = 410001

for index in reindex_v.index:
    st_case = index[0]
    
    if st_case == prev_case:
    
        bt = reindex_v.loc[index]['BODY_TYP']
    
        if bt <= 6:
            bt_sedan += 1
    
        elif (bt == 10) or (bt == 30) or (bt == 31) or (bt == 32) or (bt == 40) or (bt == 67):
            bt_pickup += 1
        
        elif (bt == 14) or (bt == 15) or (bt == 16) or (bt == 20) or (bt == 21):
            bt_suv += 1
        
        elif (bt == 80) or (bt == 81) or (bt == 88):
            bt_motor += 1
        
        elif (bt == 61) or (bt == 62) or (bt == 63) or (bt == 64) or (bt == 65) or (bt == 66):
            bt_truck += 1
            
        elif (bt == 50) or (bt == 51) or (bt == 52) or (bt == 55):
            bt_bus += 1
            
        elif (bt == 49) or (bt == 90) or (bt == 99):
            bt_unknown += 1
            
        accidents_reindex.at[st_case, 'BT_Sedan'] = bt_sedan
        accidents_reindex.at[st_case, 'BT_Pickup'] = bt_pickup
        accidents_reindex.at[st_case, 'BT_SUV_Van'] = bt_suv
        accidents_reindex.at[st_case, 'BT_Motorcycle'] = bt_motor
        accidents_reindex.at[st_case, 'BT_Truck'] = bt_truck
        accidents_reindex.at[st_case, 'BT_Bus'] = bt_bus
        accidents_reindex.at[st_case, 'BT_Unknown_Other'] = bt_unknown
        
        prev_case = st_case
            
    elif st_case != prev_case:
        
        bt_sedan = 0
        bt_pickup = 0
        bt_suv = 0
        bt_motor = 0
        bt_truck = 0
        bt_bus = 0
        bt_unknown = 0
        
        bt = reindex_v.loc[index]['BODY_TYP']
    
        if bt <= 6:
            bt_sedan += 1
    
        elif (bt == 10) or (bt == 30) or (bt == 31) or (bt == 32) or (bt == 40) or (bt == 67):
            bt_pickup += 1
        
        elif (bt == 14) or (bt == 15) or (bt == 16) or (bt == 20) or (bt == 21):
            bt_suv += 1
        
        elif (bt == 80) or (bt == 81) or (bt == 88):
            bt_motor += 1
        
        elif (bt == 61) or (bt == 62) or (bt == 63) or (bt == 64) or (bt == 65) or (bt == 66):
            bt_truck += 1
            
        elif (bt == 50) or (bt == 51) or (bt == 52) or (bt == 55):
            bt_bus += 1
            
        elif (bt == 49) or (bt == 90) or (bt == 99):
            bt_unknown += 1
            
        accidents_reindex.at[st_case, 'BT_Sedan'] = bt_sedan
        accidents_reindex.at[st_case, 'BT_Pickup'] = bt_pickup
        accidents_reindex.at[st_case, 'BT_SUV_Van'] = bt_suv
        accidents_reindex.at[st_case, 'BT_Motorcycle'] = bt_motor
        accidents_reindex.at[st_case, 'BT_Truck'] = bt_truck
        accidents_reindex.at[st_case, 'BT_Bus'] = bt_bus
        accidents_reindex.at[st_case, 'BT_Unknown_Other'] = bt_unknown
        
        prev_case = st_case
        

accidents_reindex

,VE_TOTAL,PEDS,PERSONS,COUNTY,MONTH,DAY_WEEK,YEAR,HOUR,ROAD_FNC,ROUTE,...,REST_MIS,DRUGS,BT_Sedan,BT_Pickup,BT_SUV_Van,BT_Motorcyle,BT_Truck,BT_Bus,BT_Unknown_Other,BT_Motorcycle
ST_CASE,,,,,,,,,,,,,,,,,,,,,
410001,2,0,2,39,1,2,2012,20,3,4,...,0,9,1,0,1,0,0,0,0,0.0
410002,1,1,2,51,1,6,2012,19,13,3,...,0,9,0,0,1,0,0,0,0,0.0
410003,2,0,3,51,1,5,2012,22,13,3,...,0,9,2,0,0,0,0,0,0,0.0
410004,2,0,6,39,1,1,2012,17,2,3,...,1,9,1,0,1,0,0,0,0,0.0
410006,2,0,3,27,1,6,2012,12,2,3,...,0,9,1,0,1,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410315,1,1,1,71,10,4,2012,14,14,3,...,0,9,0,0,0,0,0,0,1,0.0
410316,1,0,1,33,10,4,2012,17,4,4,...,0,9,0,0,0,0,0,0,0,1.0
410317,1,0,2,31,10,2,2012,99,5,4,...,0,9,0,0,0,0,0,0,1,0.0
410318,2,0,3,47,11,3,2012,15,3,3,...,0,9,0,0,0,0,0,0,2,0.0
410319,1,0,1,51,12,3,2012,19,4,4,...,0,9,1,0,0,0,0,0,0,0.0

In [49]:
# Double checking that it added values correctly
accidents_reindex['BT_Sedan'].value_counts()

0    174
1    116
2     15
3      1
Name: BT_Sedan, dtype: int64

In [50]:
# Adding registration state (out of state true/false) to accidents
accidents_reindex['OOS_REG'] = 0

In [51]:
for index in reindex_v.index:
    st_case = index[0]
            
    if reindex_v.loc[index]['REG_STAT'] == 99:
        accidents_reindex.at[st_case, 'OOS_REG'] = 99
    
    elif reindex_v.loc[index]['REG_STAT'] != 41:
        accidents_reindex.at[st_case, 'OOS_REG'] = 1
        
accidents_reindex

,VE_TOTAL,PEDS,PERSONS,COUNTY,MONTH,DAY_WEEK,YEAR,HOUR,ROAD_FNC,ROUTE,...,DRUGS,BT_Sedan,BT_Pickup,BT_SUV_Van,BT_Motorcyle,BT_Truck,BT_Bus,BT_Unknown_Other,BT_Motorcycle,OOS_REG
ST_CASE,,,,,,,,,,,,,,,,,,,,,
410001,2,0,2,39,1,2,2012,20,3,4,...,9,1,0,1,0,0,0,0,0.0,0
410002,1,1,2,51,1,6,2012,19,13,3,...,9,0,0,1,0,0,0,0,0.0,0
410003,2,0,3,51,1,5,2012,22,13,3,...,9,2,0,0,0,0,0,0,0.0,1
410004,2,0,6,39,1,1,2012,17,2,3,...,9,1,0,1,0,0,0,0,0.0,0
410006,2,0,3,27,1,6,2012,12,2,3,...,9,1,0,1,0,0,0,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410315,1,1,1,71,10,4,2012,14,14,3,...,9,0,0,0,0,0,0,1,0.0,99
410316,1,0,1,33,10,4,2012,17,4,4,...,9,0,0,0,0,0,0,0,1.0,99
410317,1,0,2,31,10,2,2012,99,5,4,...,9,0,0,0,0,0,0,1,0.0,99
410318,2,0,3,47,11,3,2012,15,3,3,...,9,0,0,0,0,0,0,2,0.0,99
410319,1,0,1,51,12,3,2012,19,4,4,...,9,1,0,0,0,0,0,0,0.0,0

In [52]:
# What's left?
# TRAV_SP --> highest value if recorded
# DR_DRINK --> Yes if any are yes
# PREV_ACC --> add up except the unknowns
# PREV_DWI --> add up except the unknowns
# PREV_SPD --> add up except the unknowns
# SPEED_REL --> yes if any yesses
# VSPD_LIM --> if any discrepancies then mark highest
# ACC_TYPE --> acc_type_1, acc_type_2, etc for each car
# MDRDSTRD --> If any known, mark as that
# MVIOLATN --> if one, use it

In [53]:
# Adding Travel speed to accidents
accidents_reindex['TRAV_SP'] = 0

In [54]:
speed = 0

for index in reindex_v.index:
    st_case = index[0]
    
    if reindex_v.loc[index]['TRAV_SP'] > 151:
        accidents_reindex.at[st_case, 'TRAV_SP'] = 999
        
    else:
        new_speed = reindex_v.loc[index]['TRAV_SP']
        
        if new_speed > speed:
            accidents_reindex.at[st_case, 'TRAV_SP'] = new_speed
            speed = new_speed

        
accidents_reindex

,VE_TOTAL,PEDS,PERSONS,COUNTY,MONTH,DAY_WEEK,YEAR,HOUR,ROAD_FNC,ROUTE,...,BT_Sedan,BT_Pickup,BT_SUV_Van,BT_Motorcyle,BT_Truck,BT_Bus,BT_Unknown_Other,BT_Motorcycle,OOS_REG,TRAV_SP
ST_CASE,,,,,,,,,,,,,,,,,,,,,
410001,2,0,2,39,1,2,2012,20,3,4,...,1,0,1,0,0,0,0,0.0,0,999
410002,1,1,2,51,1,6,2012,19,13,3,...,0,0,1,0,0,0,0,0.0,0,999
410003,2,0,3,51,1,5,2012,22,13,3,...,2,0,0,0,0,0,0,0.0,1,999
410004,2,0,6,39,1,1,2012,17,2,3,...,1,0,1,0,0,0,0,0.0,0,999
410006,2,0,3,27,1,6,2012,12,2,3,...,1,0,1,0,0,0,0,0.0,0,999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410315,1,1,1,71,10,4,2012,14,14,3,...,0,0,0,0,0,0,1,0.0,99,999
410316,1,0,1,33,10,4,2012,17,4,4,...,0,0,0,0,0,0,0,1.0,99,999
410317,1,0,2,31,10,2,2012,99,5,4,...,0,0,0,0,0,0,1,0.0,99,999
410318,2,0,3,47,11,3,2012,15,3,3,...,0,0,0,0,0,0,2,0.0,99,999
410319,1,0,1,51,12,3,2012,19,4,4,...,1,0,0,0,0,0,0,0.0,0,999

In [55]:
# Adding dr_drink to accidents
accidents_reindex['DR_DRINK'] = 0

In [56]:
for index in reindex_v.index:
    st_case = index[0]
            
    if reindex_v.loc[index]['DR_DRINK'] == 1:
        accidents_reindex.at[st_case, 'DR_DRINK'] = 1
        
accidents_reindex

,VE_TOTAL,PEDS,PERSONS,COUNTY,MONTH,DAY_WEEK,YEAR,HOUR,ROAD_FNC,ROUTE,...,BT_Pickup,BT_SUV_Van,BT_Motorcyle,BT_Truck,BT_Bus,BT_Unknown_Other,BT_Motorcycle,OOS_REG,TRAV_SP,DR_DRINK
ST_CASE,,,,,,,,,,,,,,,,,,,,,
410001,2,0,2,39,1,2,2012,20,3,4,...,0,1,0,0,0,0,0.0,0,999,1
410002,1,1,2,51,1,6,2012,19,13,3,...,0,1,0,0,0,0,0.0,0,999,0
410003,2,0,3,51,1,5,2012,22,13,3,...,0,0,0,0,0,0,0.0,1,999,1
410004,2,0,6,39,1,1,2012,17,2,3,...,0,1,0,0,0,0,0.0,0,999,0
410006,2,0,3,27,1,6,2012,12,2,3,...,0,1,0,0,0,0,0.0,0,999,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410315,1,1,1,71,10,4,2012,14,14,3,...,0,0,0,0,0,1,0.0,99,999,0
410316,1,0,1,33,10,4,2012,17,4,4,...,0,0,0,0,0,0,1.0,99,999,0
410317,1,0,2,31,10,2,2012,99,5,4,...,0,0,0,0,0,1,0.0,99,999,1
410318,2,0,3,47,11,3,2012,15,3,3,...,0,0,0,0,0,2,0.0,99,999,0
410319,1,0,1,51,12,3,2012,19,4,4,...,0,0,0,0,0,0,0.0,0,999,0

In [57]:
# Adding prev_acc to accidents
accidents_reindex['PREV_ACC'] = 0

In [58]:
acc_count = 0
prev_case = 410001

for index in reindex_v.index:
    st_case = index[0]
    
    if st_case == prev_case:
        
        if reindex_v.loc[index]['PREV_ACC'] > 97:
            accidents_reindex.at[st_case, 'PREV_ACC'] = 99
        else:
            acc_count += reindex_v.loc[index]['PREV_ACC']
            
        accidents_reindex.at[st_case, 'PREV_ACC'] = acc_count
        
        prev_case = st_case
    
    elif st_case != prev_case:
        acc_count = 0
        
        if reindex_v.loc[index]['PREV_ACC'] > 97:
            accidents_reindex.at[st_case, 'PREV_ACC'] = 99
        else:
            acc_count += reindex_v.loc[index]['PREV_ACC']
            
        accidents_reindex.at[st_case, 'PREV_ACC'] = acc_count
        
        prev_case = st_case
        
accidents_reindex

,VE_TOTAL,PEDS,PERSONS,COUNTY,MONTH,DAY_WEEK,YEAR,HOUR,ROAD_FNC,ROUTE,...,BT_SUV_Van,BT_Motorcyle,BT_Truck,BT_Bus,BT_Unknown_Other,BT_Motorcycle,OOS_REG,TRAV_SP,DR_DRINK,PREV_ACC
ST_CASE,,,,,,,,,,,,,,,,,,,,,
410001,2,0,2,39,1,2,2012,20,3,4,...,1,0,0,0,0,0.0,0,999,1,0
410002,1,1,2,51,1,6,2012,19,13,3,...,1,0,0,0,0,0.0,0,999,0,0
410003,2,0,3,51,1,5,2012,22,13,3,...,0,0,0,0,0,0.0,1,999,1,1
410004,2,0,6,39,1,1,2012,17,2,3,...,1,0,0,0,0,0.0,0,999,0,0
410006,2,0,3,27,1,6,2012,12,2,3,...,1,0,0,0,0,0.0,0,999,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410315,1,1,1,71,10,4,2012,14,14,3,...,0,0,0,0,1,0.0,99,999,0,0
410316,1,0,1,33,10,4,2012,17,4,4,...,0,0,0,0,0,1.0,99,999,0,0
410317,1,0,2,31,10,2,2012,99,5,4,...,0,0,0,0,1,0.0,99,999,1,0
410318,2,0,3,47,11,3,2012,15,3,3,...,0,0,0,0,2,0.0,99,999,0,0
410319,1,0,1,51,12,3,2012,19,4,4,...,0,0,0,0,0,0.0,0,999,0,0

In [59]:
accidents_reindex['PREV_ACC'].value_counts()

0    264
1     40
2      1
3      1
Name: PREV_ACC, dtype: int64

In [60]:
# Adding prev_dwi to accidents
accidents_reindex['PREV_DWI'] = 0

In [61]:
dwi_count = 0
prev_case = 410001

for index in reindex_v.index:
    st_case = index[0]
    
    if st_case == prev_case:
        
        if reindex_v.loc[index]['PREV_DWI'] > 97:
            accidents_reindex.at[st_case, 'PREV_DWI'] = 99
        else:
            dwi_count += reindex_v.loc[index]['PREV_DWI']
            
        accidents_reindex.at[st_case, 'PREV_DWI'] = dwi_count
        
        prev_case = st_case
    
    elif st_case != prev_case:
        dwi_count = 0
        
        if reindex_v.loc[index]['PREV_DWI'] > 97:
            accidents_reindex.at[st_case, 'PREV_DWI'] = 99
        else:
            dwi_count += reindex_v.loc[index]['PREV_DWI']
            
        accidents_reindex.at[st_case, 'PREV_DWI'] = dwi_count
        
        prev_case = st_case
        
accidents_reindex

,VE_TOTAL,PEDS,PERSONS,COUNTY,MONTH,DAY_WEEK,YEAR,HOUR,ROAD_FNC,ROUTE,...,BT_Motorcyle,BT_Truck,BT_Bus,BT_Unknown_Other,BT_Motorcycle,OOS_REG,TRAV_SP,DR_DRINK,PREV_ACC,PREV_DWI
ST_CASE,,,,,,,,,,,,,,,,,,,,,
410001,2,0,2,39,1,2,2012,20,3,4,...,0,0,0,0,0.0,0,999,1,0,0
410002,1,1,2,51,1,6,2012,19,13,3,...,0,0,0,0,0.0,0,999,0,0,0
410003,2,0,3,51,1,5,2012,22,13,3,...,0,0,0,0,0.0,1,999,1,1,0
410004,2,0,6,39,1,1,2012,17,2,3,...,0,0,0,0,0.0,0,999,0,0,0
410006,2,0,3,27,1,6,2012,12,2,3,...,0,0,0,0,0.0,0,999,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410315,1,1,1,71,10,4,2012,14,14,3,...,0,0,0,1,0.0,99,999,0,0,0
410316,1,0,1,33,10,4,2012,17,4,4,...,0,0,0,0,1.0,99,999,0,0,0
410317,1,0,2,31,10,2,2012,99,5,4,...,0,0,0,1,0.0,99,999,1,0,0
410318,2,0,3,47,11,3,2012,15,3,3,...,0,0,0,2,0.0,99,999,0,0,0
410319,1,0,1,51,12,3,2012,19,4,4,...,0,0,0,0,0.0,0,999,0,0,0

In [62]:
# Adding prev_spd to accidents
accidents_reindex['PREV_SPD'] = 0

In [63]:
spd_count = 0
prev_case = 410001

for index in reindex_v.index:
    st_case = index[0]
    
    if st_case == prev_case:
        
        if reindex_v.loc[index]['PREV_SPD'] > 97:
            accidents_reindex.at[st_case, 'PREV_SPD'] = 99
        else:
            spd_count += reindex_v.loc[index]['PREV_SPD']
            
        accidents_reindex.at[st_case, 'PREV_SPD'] = spd_count
        
        prev_case = st_case
    
    elif st_case != prev_case:
        spd_count = 0
        
        if reindex_v.loc[index]['PREV_SPD'] > 97:
            accidents_reindex.at[st_case, 'PREV_SPD'] = 99
        else:
            spd_count += reindex_v.loc[index]['PREV_SPD']
            
        accidents_reindex.at[st_case, 'PREV_SPD'] = spd_count
        
        prev_case = st_case
        
accidents_reindex

,VE_TOTAL,PEDS,PERSONS,COUNTY,MONTH,DAY_WEEK,YEAR,HOUR,ROAD_FNC,ROUTE,...,BT_Truck,BT_Bus,BT_Unknown_Other,BT_Motorcycle,OOS_REG,TRAV_SP,DR_DRINK,PREV_ACC,PREV_DWI,PREV_SPD
ST_CASE,,,,,,,,,,,,,,,,,,,,,
410001,2,0,2,39,1,2,2012,20,3,4,...,0,0,0,0.0,0,999,1,0,0,0
410002,1,1,2,51,1,6,2012,19,13,3,...,0,0,0,0.0,0,999,0,0,0,0
410003,2,0,3,51,1,5,2012,22,13,3,...,0,0,0,0.0,1,999,1,1,0,2
410004,2,0,6,39,1,1,2012,17,2,3,...,0,0,0,0.0,0,999,0,0,0,0
410006,2,0,3,27,1,6,2012,12,2,3,...,0,0,0,0.0,0,999,1,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410315,1,1,1,71,10,4,2012,14,14,3,...,0,0,1,0.0,99,999,0,0,0,0
410316,1,0,1,33,10,4,2012,17,4,4,...,0,0,0,1.0,99,999,0,0,0,0
410317,1,0,2,31,10,2,2012,99,5,4,...,0,0,1,0.0,99,999,1,0,0,0
410318,2,0,3,47,11,3,2012,15,3,3,...,0,0,2,0.0,99,999,0,0,0,0
410319,1,0,1,51,12,3,2012,19,4,4,...,0,0,0,0.0,0,999,0,0,0,0

In [64]:
# What's left?
# SPEEDREL --> yes if any yesses
# VSPD_LIM --> if any discrepancies then mark highest
# ACC_TYPE --> acc_type_1, acc_type_2, etc for each car
# MDRDSTRD --> If any known, mark as that
# MVIOLATN --> if one, use it

In [65]:
# Adding speed_rel to accidents
accidents_reindex['SPEED_REL'] = 0

In [66]:
for index in reindex_v.index:
    st_case = index[0]
            
    if reindex_v.loc[index]['SPEEDREL'] > 5:
        accidents_reindex.at[st_case, 'SPEED_REL'] = 9
    
    elif reindex_v.loc[index]['SPEEDREL'] > 0:
        accidents_reindex.at[st_case, 'SPEED_REL'] = 1
        
accidents_reindex

,VE_TOTAL,PEDS,PERSONS,COUNTY,MONTH,DAY_WEEK,YEAR,HOUR,ROAD_FNC,ROUTE,...,BT_Bus,BT_Unknown_Other,BT_Motorcycle,OOS_REG,TRAV_SP,DR_DRINK,PREV_ACC,PREV_DWI,PREV_SPD,SPEED_REL
ST_CASE,,,,,,,,,,,,,,,,,,,,,
410001,2,0,2,39,1,2,2012,20,3,4,...,0,0,0.0,0,999,1,0,0,0,9
410002,1,1,2,51,1,6,2012,19,13,3,...,0,0,0.0,0,999,0,0,0,0,0
410003,2,0,3,51,1,5,2012,22,13,3,...,0,0,0.0,1,999,1,1,0,2,0
410004,2,0,6,39,1,1,2012,17,2,3,...,0,0,0.0,0,999,0,0,0,0,1
410006,2,0,3,27,1,6,2012,12,2,3,...,0,0,0.0,0,999,1,0,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410315,1,1,1,71,10,4,2012,14,14,3,...,0,1,0.0,99,999,0,0,0,0,9
410316,1,0,1,33,10,4,2012,17,4,4,...,0,0,1.0,99,999,0,0,0,0,9
410317,1,0,2,31,10,2,2012,99,5,4,...,0,1,0.0,99,999,1,0,0,0,1
410318,2,0,3,47,11,3,2012,15,3,3,...,0,2,0.0,99,999,0,0,0,0,9
410319,1,0,1,51,12,3,2012,19,4,4,...,0,0,0.0,0,999,0,0,0,0,9

In [67]:
# Adding vspd_lim to accidents
accidents_reindex['VSPD_LIM'] = 0

In [68]:
speed = 0

for index in reindex_v.index:
    st_case = index[0]
    
    if reindex_v.loc[index]['VSPD_LIM'] > 95:
        accidents_reindex.at[st_case, 'VSPD_LIM'] = 99
        
    else:
        new_speed = reindex_v.loc[index]['VSPD_LIM']
        
        if new_speed > speed:
            accidents_reindex.at[st_case, 'VSPD_LIM'] = new_speed
            speed = new_speed

        
accidents_reindex

,VE_TOTAL,PEDS,PERSONS,COUNTY,MONTH,DAY_WEEK,YEAR,HOUR,ROAD_FNC,ROUTE,...,BT_Unknown_Other,BT_Motorcycle,OOS_REG,TRAV_SP,DR_DRINK,PREV_ACC,PREV_DWI,PREV_SPD,SPEED_REL,VSPD_LIM
ST_CASE,,,,,,,,,,,,,,,,,,,,,
410001,2,0,2,39,1,2,2012,20,3,4,...,0,0.0,0,999,1,0,0,0,9,55
410002,1,1,2,51,1,6,2012,19,13,3,...,0,0.0,0,999,0,0,0,0,0,0
410003,2,0,3,51,1,5,2012,22,13,3,...,0,0.0,1,999,1,1,0,2,0,0
410004,2,0,6,39,1,1,2012,17,2,3,...,0,0.0,0,999,0,0,0,0,1,0
410006,2,0,3,27,1,6,2012,12,2,3,...,0,0.0,0,999,1,0,0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410315,1,1,1,71,10,4,2012,14,14,3,...,1,0.0,99,999,0,0,0,0,9,99
410316,1,0,1,33,10,4,2012,17,4,4,...,0,1.0,99,999,0,0,0,0,9,0
410317,1,0,2,31,10,2,2012,99,5,4,...,1,0.0,99,999,1,0,0,0,1,99
410318,2,0,3,47,11,3,2012,15,3,3,...,2,0.0,99,999,0,0,0,0,9,99
410319,1,0,1,51,12,3,2012,19,4,4,...,0,0.0,0,999,0,0,0,0,9,0

In [69]:
# Acc_type another column that needs bucketing. consulting the manual to see the best way that should be done
reindex_v['ACC_TYPE'].value_counts()

13    72
1     59
50    49
51    49
98    37
6     30
64    17
65    17
7     16
83     9
82     9
2      7
87     5
86     5
0      5
52     4
89     3
69     3
25     3
68     3
24     3
99     3
88     3
20     2
21     2
45     2
32     2
77     1
76     1
47     1
28     1
29     1
14     1
46     1
Name: ACC_TYPE, dtype: int64

In [70]:
# Bucket them into configurations:
# ACC_TYPE_A: <=5
# ACC_TYPE_B: <=10
# ACC_TYPE_C: <=16
# ACC_TYPE_D: <=33
# ACC_TYPE_E: <=43
# ACC_TYPE_F: <=49
# ACC_TYPE_G: <=53
# ACC_TYPE_H: <=63
# ACC_TYPE_I: <=67
# ACC_TYPE_J: <=75
# ACC_TYPE_K: <=85
# ACC_TYPE_L: <=91
# ACC_TYPE_M: <=99

In [71]:
# Adding acc_type columns to accident
accidents_reindex['ACC_TYPE_A'] = 0
accidents_reindex['ACC_TYPE_B'] = 0
accidents_reindex['ACC_TYPE_C'] = 0
accidents_reindex['ACC_TYPE_D'] = 0
accidents_reindex['ACC_TYPE_E'] = 0
accidents_reindex['ACC_TYPE_F'] = 0
accidents_reindex['ACC_TYPE_G'] = 0
accidents_reindex['ACC_TYPE_H'] = 0
accidents_reindex['ACC_TYPE_I'] = 0
accidents_reindex['ACC_TYPE_J'] = 0
accidents_reindex['ACC_TYPE_K'] = 0
accidents_reindex['ACC_TYPE_L'] = 0
accidents_reindex['ACC_TYPE_M'] = 0

In [72]:
# Doing a count for each accident. I might switch this to a binary, EDIT: will make this binary
type_a = 0
type_b = 0
type_c = 0
type_d = 0
type_e = 0
type_f = 0
type_g = 0
type_h = 0
type_i = 0
type_j = 0
type_k = 0
type_l = 0
type_m = 0

prev_case = 410001

for index in reindex_v.index:
    st_case = index[0]
    
    if st_case == prev_case:
    
        acc_type = reindex_v.loc[index]['ACC_TYPE']
    
        if acc_type <= 5:
            type_a = 1
    
        elif acc_type <= 10:
            type_b = 1
        
        elif acc_type <= 16:
            type_c = 1
        
        elif acc_type <= 33:
            type_d = 1
        
        elif acc_type <= 43:
            type_e = 1
            
        elif acc_type <= 49:
            type_f = 1
            
        elif acc_type <= 53:
            type_g = 1
            
        elif acc_type <= 63:
            type_h = 1
            
        elif acc_type <= 67:
            type_i = 1
            
        elif acc_type <= 75:
            type_j = 1
            
        elif acc_type <= 85:
            type_k = 1
            
        elif acc_type <= 91:
            type_l = 1
            
        elif acc_type <= 99:
            type_m = 1
            
        accidents_reindex.at[st_case, 'ACC_TYPE_A'] = type_a
        accidents_reindex.at[st_case, 'ACC_TYPE_B'] = type_b
        accidents_reindex.at[st_case, 'ACC_TYPE_C'] = type_c
        accidents_reindex.at[st_case, 'ACC_TYPE_D'] = type_d
        accidents_reindex.at[st_case, 'ACC_TYPE_E'] = type_e
        accidents_reindex.at[st_case, 'ACC_TYPE_F'] = type_f
        accidents_reindex.at[st_case, 'ACC_TYPE_G'] = type_g
        accidents_reindex.at[st_case, 'ACC_TYPE_H'] = type_h
        accidents_reindex.at[st_case, 'ACC_TYPE_I'] = type_i
        accidents_reindex.at[st_case, 'ACC_TYPE_J'] = type_j
        accidents_reindex.at[st_case, 'ACC_TYPE_K'] = type_k
        accidents_reindex.at[st_case, 'ACC_TYPE_L'] = type_l
        accidents_reindex.at[st_case, 'ACC_TYPE_M'] = type_m
        
        
        prev_case = st_case
            
    elif st_case != prev_case:
        
        type_a = 0
        type_b = 0
        type_c = 0
        type_d = 0
        type_e = 0
        type_f = 0
        type_g = 0
        type_h = 0
        type_i = 0
        type_j = 0
        type_k = 0
        type_l = 0
        type_m = 0

        acc_type = reindex_v.loc[index]['ACC_TYPE']

        if acc_type <= 5:
            type_a = 1

        elif acc_type <= 10:
            type_b = 1

        elif acc_type <= 16:
            type_c = 1

        elif acc_type <= 33:
            type_d = 1

        elif acc_type <= 43:
            type_e = 1

        elif acc_type <= 49:
            type_f = 1

        elif acc_type <= 53:
            type_g = 1

        elif acc_type <= 63:
            type_h = 1

        elif acc_type <= 67:
            type_i = 1

        elif acc_type <= 75:
            type_j = 1

        elif acc_type <= 85:
            type_k = 1

        elif acc_type <= 91:
            type_l = 1

        elif acc_type <= 99:
            type_m = 1

        accidents_reindex.at[st_case, 'ACC_TYPE_A'] = type_a
        accidents_reindex.at[st_case, 'ACC_TYPE_B'] = type_b
        accidents_reindex.at[st_case, 'ACC_TYPE_C'] = type_c
        accidents_reindex.at[st_case, 'ACC_TYPE_D'] = type_d
        accidents_reindex.at[st_case, 'ACC_TYPE_E'] = type_e
        accidents_reindex.at[st_case, 'ACC_TYPE_F'] = type_f
        accidents_reindex.at[st_case, 'ACC_TYPE_G'] = type_g
        accidents_reindex.at[st_case, 'ACC_TYPE_H'] = type_h
        accidents_reindex.at[st_case, 'ACC_TYPE_I'] = type_i
        accidents_reindex.at[st_case, 'ACC_TYPE_J'] = type_j
        accidents_reindex.at[st_case, 'ACC_TYPE_K'] = type_k
        accidents_reindex.at[st_case, 'ACC_TYPE_L'] = type_l
        accidents_reindex.at[st_case, 'ACC_TYPE_M'] = type_m
        
        
        prev_case = st_case
            
        

accidents_reindex

,VE_TOTAL,PEDS,PERSONS,COUNTY,MONTH,DAY_WEEK,YEAR,HOUR,ROAD_FNC,ROUTE,...,ACC_TYPE_D,ACC_TYPE_E,ACC_TYPE_F,ACC_TYPE_G,ACC_TYPE_H,ACC_TYPE_I,ACC_TYPE_J,ACC_TYPE_K,ACC_TYPE_L,ACC_TYPE_M
ST_CASE,,,,,,,,,,,,,,,,,,,,,
410001,2,0,2,39,1,2,2012,20,3,4,...,0,0,0,1,0,0,0,0,0,0
410002,1,1,2,51,1,6,2012,19,13,3,...,0,0,0,0,0,0,0,0,0,0
410003,2,0,3,51,1,5,2012,22,13,3,...,1,0,0,0,0,0,0,0,0,0
410004,2,0,6,39,1,1,2012,17,2,3,...,0,0,0,0,0,1,0,0,0,0
410006,2,0,3,27,1,6,2012,12,2,3,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410315,1,1,1,71,10,4,2012,14,14,3,...,0,0,0,0,0,0,0,0,0,0
410316,1,0,1,33,10,4,2012,17,4,4,...,0,0,0,0,0,0,0,0,0,1
410317,1,0,2,31,10,2,2012,99,5,4,...,0,0,0,0,0,0,0,0,0,1
410318,2,0,3,47,11,3,2012,15,3,3,...,1,0,0,0,0,0,0,0,0,0
410319,1,0,1,51,12,3,2012,19,4,4,...,0,0,0,0,0,0,0,0,0,0

In [73]:
reindex['MDRDSTRD'].value_counts()

96    402
0      14
3       3
99      3
1       1
6       1
12      1
13      1
Name: MDRDSTRD, dtype: int64

In [74]:
# adding method of distraction to accidents
accidents_reindex['MDRDSTRD'] = 0

In [83]:
for index in reindex.index:
    st_case = index[0]
    
    try:
        mdr_dstrd = reindex.loc[index]['MDRDSTRD'].values
    except:
        
        mdr_dstrd = [reindex.loc[index]['MDRDSTRD']]
        
        
    if (mdr_dstrd[0] == 96) or (mdr_dstrd[0] == 99):
        accidents_reindex.at[st_case, 'MDRDSTRD'] = 99
    
    else:
        accidents_reindex.at[st_case, 'MDRDSTRD'] = mdr_dstrd[0]
        
accidents_reindex

,VE_TOTAL,PEDS,PERSONS,COUNTY,MONTH,DAY_WEEK,YEAR,HOUR,ROAD_FNC,ROUTE,...,ACC_TYPE_F,ACC_TYPE_G,ACC_TYPE_H,ACC_TYPE_I,ACC_TYPE_J,ACC_TYPE_K,ACC_TYPE_L,ACC_TYPE_M,MDRDSTRD,MVIOLATN
ST_CASE,,,,,,,,,,,,,,,,,,,,,
410001,2,0,2,39,1,2,2012,20,3,4,...,0,1,0,0,0,0,0,0,99,0
410002,1,1,2,51,1,6,2012,19,13,3,...,0,0,0,0,0,0,0,0,99,0
410003,2,0,3,51,1,5,2012,22,13,3,...,0,0,0,0,0,0,0,0,99,0
410004,2,0,6,39,1,1,2012,17,2,3,...,0,0,0,1,0,0,0,0,99,0
410006,2,0,3,27,1,6,2012,12,2,3,...,0,0,0,1,0,0,0,0,99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410315,1,1,1,71,10,4,2012,14,14,3,...,0,0,0,0,0,0,0,0,99,0
410316,1,0,1,33,10,4,2012,17,4,4,...,0,0,0,0,0,0,0,1,99,0
410317,1,0,2,31,10,2,2012,99,5,4,...,0,0,0,0,0,0,0,1,99,0
410318,2,0,3,47,11,3,2012,15,3,3,...,0,0,0,0,0,0,0,0,99,0
410319,1,0,1,51,12,3,2012,19,4,4,...,0,0,0,0,0,0,0,0,99,0

In [82]:
reindex3['MVIOLATN'].value_counts()

0     379
1      26
11     18
2      14
7       6
9       5
46      4
72      1
71      1
41      1
83      1
31      1
75      1
4       1
79      1
99      1
Name: MVIOLATN, dtype: int64

In [76]:
# adding mviolatn to accidents
accidents_reindex['MVIOLATN'] = 0

In [77]:
for index in reindex3.index:
    st_case = index[0]
    mviolatn = reindex3.loc[index]['MVIOLATN'].values
            
    if mviolatn[0] == 0:
        accidents_reindex.at[st_case, 'MVIOLATN'] = 0
        
    elif (mviolatn[0] == 99) or (mviolatn[0] == 97) or (mviolatn[0] == 95):
        accidents_reindex.at[st_case, 'MVIOLATN'] = 99
    
    else:
        accidents_reindex.at[st_case, 'MVIOLATN'] = mviolatn[0]
        
accidents_reindex

,VE_TOTAL,PEDS,PERSONS,COUNTY,MONTH,DAY_WEEK,YEAR,HOUR,ROAD_FNC,ROUTE,...,ACC_TYPE_F,ACC_TYPE_G,ACC_TYPE_H,ACC_TYPE_I,ACC_TYPE_J,ACC_TYPE_K,ACC_TYPE_L,ACC_TYPE_M,MDRDSTRD,MVIOLATN
ST_CASE,,,,,,,,,,,,,,,,,,,,,
410001,2,0,2,39,1,2,2012,20,3,4,...,0,1,0,0,0,0,0,0,0,0
410002,1,1,2,51,1,6,2012,19,13,3,...,0,0,0,0,0,0,0,0,0,0
410003,2,0,3,51,1,5,2012,22,13,3,...,0,0,0,0,0,0,0,0,0,0
410004,2,0,6,39,1,1,2012,17,2,3,...,0,0,0,1,0,0,0,0,0,0
410006,2,0,3,27,1,6,2012,12,2,3,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410315,1,1,1,71,10,4,2012,14,14,3,...,0,0,0,0,0,0,0,0,0,0
410316,1,0,1,33,10,4,2012,17,4,4,...,0,0,0,0,0,0,0,1,0,0
410317,1,0,2,31,10,2,2012,99,5,4,...,0,0,0,0,0,0,0,1,0,0
410318,2,0,3,47,11,3,2012,15,3,3,...,0,0,0,0,0,0,0,0,0,0
410319,1,0,1,51,12,3,2012,19,4,4,...,0,0,0,0,0,0,0,0,0,0

In [84]:
# Saving my hard work into a csv that still needs to be encoded
accidents_reindex.to_csv('Resources/cleaned_data/accidents_2012_unencoded.csv')